@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #111;
  color: #fff;
  flex-direction: column;
}

.wrap {
  width: 40rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background: linear-gradient(45deg, darkorange, red);
}

.heading {
  font-size: 3rem;
  text-transform: capitalize;
  border-bottom: 3px solid;
}

.text {
  font-size: 1.5rem;
  margin: 3rem 0 0;
}

button {
  color: #d1d1d1;
  font-weight: bold;
  cursor: pointer;
  font-style: italic;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  padding: 0 1rem;
}
